{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div>
        <strong>Your dashboard</strong>
    </div>
    <div>
        {% if g.user %}
        <a class="btn btn-outline-dark active" href="{{url_for('gooddeeds.dashboard')}}">Current deeds</a>
        <a class="btn btn-outline-dark" href="{{url_for('gooddeeds.create')}}">Create a deed</a>
        <span></span>
        <a class="btn btn-outline-dark" href="{{url_for('gooddeeds.completed')}}">Completed deeds</a>
        {% endif %}
    </div>



    <div>
        <strong>Current Deeds</strong>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    {%for item in deeds %}
                    <div class="col-md-4">

                        <div class="card dashboard_card">
                            <div class="card-title">
                                <strong>{{item['title']}}</strong>
                            </div>
                            <div class="card-subtitle">
                                <p>Location: {{item['location']}}</p><span></span>
                                <p> Address: {{ item['address'] }}</p>
                            </div>

                            <div>
                               
                                <a class="btn btn-outline-dark" href="{{url_for('gooddeeds.details', id=item['id'])}}">View Details</a>
                                
                            </div>
                            {% if g.user['id'] == item['userid'] %}
                            <div>
                                <a class="btn btn-outline-dark card-link"
                                    href="{{url_for('gooddeeds.isdone', deed_id=item['id'])}}">done</a>
                                <a class="btn btn-outline-dark"
                                    href="{{url_for('gooddeeds.update', id=item['id'])}}">Edit</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>


</div>
{% endblock %}