{% extends 'base.html' %}

{% block body %}
<div class="container">
<div >
    <strong>Your dashboard</strong>
</div>
<div> 
    {% if g.user %}
    <a class="btn btn-outline-dark active" href="{{url_for('gooddeeds.dashboard')}}">Current deeds</a>
   <a class="btn btn-outline-dark" href="{{url_for('gooddeeds.create')}}">Create a deed</a>
    <span></span>
 <a class="btn btn-outline-dark" href="{{url_for('gooddeeds.completed')}}">Completed deeds</a>
    {% endif %}
</div>



<div>
    <strong>Current Deeds</strong>
</div>

<div class="container">
    {%for item in deeds %}  
        <!-- {% if item.isdone == false %} -->
        <div>
            <strong>{{item['title']}}</strong>
        </div>
        <div>
            <p>{{item['location']}}</p>
        </div>
        <!-- {% endif %} -->
        {% if g.user['id'] == item['userid'] %}
        <div>
            <a class="btn btn-outline-dark" href="{{url_for('gooddeeds.isdone', deed_id=item['id'])}}">done</a>
        </div>
        <div>
            <a class="btn btn-outline-dark" href="{{url_for('gooddeeds.delete', id=item['id'])}}">delete</a>
        </div>
        {% endif %}
    {% endfor %}
</div>


</div>
{% endblock %}