{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div>

        {% if g.user %}
        <a class="btn btn-outline-dark" href="{{url_for('gooddeeds.dashboard')}}">Back to Dashboard</a>
        {% endif %}
    </div>



    <div>
        <strong>Details</strong>
    </div>

    <div class="container">
        {% for item in deeds %}

        <div class="card dashboard_card">
            <div class="card-title">
                <p><strong>{{item['title']}}</strong> by {{username}}</p>
            </div>
            <div class="card-subtitle">
                <p>Location: {{item['location']}}</p><span></span>
                <p> Address: {{ item['address'] }}</p>
                <p>Date: {{item['date']}}</p>

            </div>
            <div>
                <p>STORY: <br> {{ item['description'] }}</p>
            </div>

        </div>

        {% if item['isdone'] == False %}
        <div>
            <!-- <a class="btn btn-outline-dark" href="#">Like</a>
                        <a class="btn btn-outline-dark" href="#">Dislike</a> -->
            <p>{{eventdata}} participant(s)</p>
            <a class="btn btn-outline-dark" href="{{url_for('gooddeeds.join', id=item['id'])}}">Join</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}