
    {% extends "base.html" %}

    {% block body %}

    <div class="row">
    <div class="landing col-md-6" >
      <div class="home-wrap">
        <div class="home-inner">
          <img src="/static/giveaway.png" alt="home image">
        </div>
      </div>
    </div>

    <div class="col-md-6 my-auto" >
      <div class="text-center caption ">
      <h1>Giveawaynaija</h1>
      <h3>grab your freebies <br> from <br> nice people around the world</h3>
      <a class="btn btn-outline-light btn-lg" href="#services"> Start Here </a>      
    </div>
  </div>
  </div>
  <!-- end home session -->

  <!--start services section  -->
  <div id="services" class="offset">

    <!-- start of jumbotron -->
    <div class="jumbotrn">
      <!-- narrow start -->
      <div class="narrow">
          <div class="col-12 text-center">
            <h3 class="heading text-center">How it works</h3>
            <div class="underline"></div>
            <div class="row text-center">
              <!-- each row item -->
              <div class="col-md-3">
                <div class="service">
                  <div class="serviceimg">
                    <img src="/static/account.png" alt="create account placeholder">
                  </div>  
                  
                  <h4>
                    Create an account
                  </h4>
                  <p>An account gives you the chance to  create or participate in a giveaway</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="service">
                  <div class="serviceimg">
                    <img src="/static/category.png" alt="category">
                  </div>
                  
                  <h4>
                    Choose a category
                  </h4>
                  <p>Choose the giveaway category you want to take part in</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="service">
                  <div class="serviceimg">
                    <img src="/static/choosegiveaway.png" alt="select giveaway">
                  </div>
                  
                  <h4>
                    Choose a giveaway
                  </h4>
                  <p>Choose any giveaway you are eligible to participate in</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="service">
                  <div class="serviceimg">
                    <img src="/static/results.png" alt="reults">
                  </div>
                  
                  <h4>
                    wait for results
                  </h4>
                  <p>All you have to do is wait for the results</p>
                </div>
              </div>
              <!-- end of row items -->

            </div>
          </div>
      </div>
      <!-- narrow class end -->
    </div>
    <!-- end of jumbotron -->

  </div>
  <!-- end services section -->



  <!--start Prices section  -->
  <div id="prices" class="offset">
    <!-- Fixed background start -->
    <div class="fixed-background dark">
      <div class="pricebg">
      <!-- narrow start -->
      <div class="narrow">
          <div class="col-12 text-center">
            <h3 class="heading text-center">Prices</h3>
            <div class="underline"></div>
            <div class="row text-center">
              <!-- each row item -->
              <div class="col-md-4">
                <div class="price">
                  <h4>Freemium</h4>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque praesentium quam ipsa fugiat hic voluptates omnis dolore necessitatibus non velit, quidem, repudiandae enim, impedit consequuntur reprehenderit. Beatae distinctio impedit reiciendis?</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="price">
                  <h4>Starter Pack</h4>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque praesentium quam ipsa fugiat hic voluptates omnis dolore necessitatibus non velit, quidem, repudiandae enim, impedit consequuntur reprehenderit. Beatae distinctio impedit reiciendis?</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="price">
                  <h4>Premium</h4>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque praesentium quam ipsa fugiat hic voluptates omnis dolore necessitatibus non velit, quidem, repudiandae enim, impedit consequuntur reprehenderit. Beatae distinctio impedit reiciendis?</p>
                </div>
              </div>
              <!-- end of row items -->

            </div>

            <a class="btn btn-lg btn-outline-dark" href="prices.html">More prices</a>
          </div>
      </div>
      <!-- narrow class end -->
    </div>
  </div>
    <!-- end of fixed image -->
  </div>
  <!-- end prices section -->



  

  <!--start about section  -->
  <div id="about" class="offset">
    <footer>
      <div class="row justify-content-center">
        <div class="col-md-5 text-center">
          <h2>Gymlabs</h2>
          <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deleniti harum nam soluta laborum, quis voluptate, eius praesentium voluptatem </h5>
          <strong>Contact info</strong>
          <p>yerekadonald@gmail.com</p>
          <p>09031561331</p>
          <a href="" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </footer>
  </div>
  <!-- end about section -->
  {% endblock %}