@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
  
body{
  /* overflow: hidden; */
  font-family: Montserrat, sans-serif;
  color:rgb(35, 56, 98);
}

/* NAvigation */
.navbar{
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9rem;
  letter-spacing: .1rem;
  /* background-color: rgba(0,0,0, .6) !important; */
  background-color: white;
}
.navbar .navbar-brand{
  height: 3rem;
  color:rgb(35, 56, 98);
}

.navbar-nav li{
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
   color:rgb(35, 56, 98);
   padding-top: .8rem;

}
.navbar-dark .navbar-nav .nav-link .active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(35, 75, 98);
  padding-top: .8rem;
  
}

.navbar-toggler-icon{
  background-color:rgb(35, 56, 98);
}

/* end of navigation styling */

/* landing page */

.landing{
  height: 100vh;
}

.home-inner{
  height: 100vh;
  /* background-image: url("/static/giveaway.png");  
  height: 55%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed; */
  /* object-fit: cover; */
}

.home-inner img{
  width: 100%;
  height: 80%;
  margin:1rem 1rem;
  
}



.caption{
  color:rgb(48, 45, 45);
  top: 55;
  text-transform: capitalize;

}
.caption h1{
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  text-shadow: .1rem, .1rem, .8rem black;
  padding-bottom: 1rem;

}
.caption h3{
  font-size: 16px;
line-height: 30px;
  text-shadow: .1rem, .1rem, .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg{
  padding: .6rem 1.3rem;
  border-width: medium;
  font-size: 1.1rem;
}

/* start of services */

.narrow{
  width: 85%;
  margin:0 auto;
  padding-top: 2rem;
}

.narrow h3{
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  text-shadow: .1rem, .1rem, .5rem black;
  padding-bottom: 1rem;
}

.narrow h4{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-shadow: .1rem, .1rem, .5rem black;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}

.service img{
  height: 65%;
  width:55%;
  
}

.serviceimg{
  height:45vh;
}

#prices .btn:hover{
  
  background-color: rgb(35, 56, 98);
}

.underline{
  background-color: rgb(109, 191, 185);
  width: 3rem;
  height: 0.2rem;
  margin: 0 auto 2rem;
  
}

#prices{
  
  height: 75vh;
  margin-top: 15vh;
  padding-bottom: 10vh;
}

.offset::before{
  display: block;
  content: '';
  height: 4rem;
  margin-top: -4rem;
}

.jumbotrn{
  margin-bottom: 0;
}



.price img{
   width: 55%;
  height: 55%;
  
}


#about{
  margin-top: 5rem;
  background-color: rgb(74, 83, 110);
  color: white;
}
#about i{
  color: white;
  padding: .5rem;
}

.btn-outline-dark{
  margin-top: 5px;
  margin-bottom: 5px;
}

.dashboard_card{
  background-color: rgb(230, 238, 237);
  padding: 15px;
  margin-top: 13px;
  margin-bottom: 13px;
}

/* mediaQuery */

@media (max-width: 767px){
  /* #clients img{
    width: 50%;
    margin:0 auto;
    display: block;
    
  }
  .caption h1{
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .13rem;
    text-shadow: .05rem, .05rem, .4rem black;
    padding-bottom: .5rem;
  
  }
  .caption h3{
    font-size: 1rem;
    
    padding-bottom: 1rem;
  } */
  
  .btn-lg{
    padding: .5rem 1rem;
    
    font-size: 1rem;
  }
  .narrow h3{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: .5rem;
  }
  
  .narrow h4{
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    padding-bottom: .5rem;
    padding-top: 1rem;
  }
  
  .narrow .btn-lg{
    
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(115, 173, 115);
    border-color: rgb(64, 99, 36);
  }
  .narrow .btn-lg:hover{
    
    background-color: rgb(5, 148, 5);
    border-color: rgb(233, 236, 230);
  }
  #about h2, h5{
    
    font-size: 1rem;
  }
  /* form{
    padding: 2rem;
    margin: 0 auto;
    width: 1;
    background-color: burlywood;
    
  } */
  
}

/* login page */
/* form{
  padding: 3rem;
  width: 45%;
  margin: 0 auto;
  
  background-color:rgba(255, 255, 255, 0.151);
  
} */

/* .form-btn{
  color: white;
  text-transform: capitalize;
}
.form-btn:hover{
  color: white;
}
.login-page{
  top: 15%;
} */
